body {
    margin: 0;
}
header h1{
    padding-top: 0px;
    padding-left: 10px;
    color: white;
    
}
.head_container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    opacity: 0.7;
}
 
header ul{
    list-style-type: none;
}
header a {
    
 text-decoration: none;
 color: white;
 border-left:  1px solid  white;
 padding-left: 10px;
 border-right: 1px solid white;
 padding-right: 10px;
}
header a:hover{
color: red;
border-bottom: 2px solid gray;
margin-bottom: 10px;
border-top: 10px;;
}
#test h1 {
    padding: 0.5em;/*文字周りの余白*/
    color: #010101;/*文字色*/
    background: #eaf3ff;/*背景色*/
    border-bottom: solid 3px #516ab6;/*下線*/
  }

  .a h1 {
        padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
        color: #494949;/*文字色*/
        background: #f4f4f4;/*背景色*/
        border-left: solid 5px #7db4e6;/*左線*/
        border-bottom: solid 3px #d7d7d7;/*下線*/
      }
      .a h2 {
        background: #dfefff;
        box-shadow: 0px 0px 0px 5px #dfefff;
        border: dashed 1px #96c2fe;
        padding: 0.2em 0.5em;
        color: #454545;
      }
      table {
        border-collapse: separate;  /* 表の線と線の間を空ける */
        border-spacing:  5px;       /* 表の線と線の間の幅 */
    }
     
    th,td {
        padding: 5px 10px;          /* 余白指定 */
    }
     
    th {
        background-color:  #3F51B5; /* 背景色指定 */
        color:  #fff;               /* 文字色指定 */
        font-weight:  normal;       /* 文字の太さ指定 */
    }
     
    td {
        background-color:  #c0c9ff; /* 背景色指定 */
    }
    .a p {
        border-bottom: solid 3px #cce4ff;
        position: relative;
      }
      
      .a p:after {
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #5472cd;
        bottom: -3px;
        width: 20%;
      }
    
